html{
  background-color: #260C0C;
  font-family: Halvetica sans-serif;

}
.prof-box{
  height: 600px;
  width: 900px;
  background-color: #34495E;
  color:#FCF3CF;
  padding: 30px;
  margin: 0px auto ;
  margin-top: 120px;
  text-align: center;
  font-color:
}
.column{
  float: left;
  margin: 0 auto;
}
.pic{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

h1{
  font-size: 40px;
font-weight: 100px
}
p{
  font-weight: 200px;
}
