body {
  background-color: #ECF0F1;
}

.prof img {
  border-radius: 50%;
  width: 280px;
  length: 280px;
}

.column1 {
  float: left;
  width: 30%;
  font-size: 20px;
  border: 1.5px solid #F8C471;
}

.column2 {
  float: right;
  width: 30%;
  font-size: 20px;
  border: 1.5px solid #F8C471;
}

.column3 {
  float: left;
  width: 30%;
  margin-left: 5%;
  font-size: 20px;
  border: 1.5px solid #F8C471;
}

.column3 p {
  text-align: left;
  padding: 5px;
}

.column1 p {
  text-align: left;
  padding: 5px;
}

.column2 p {
  text-align: left;
  padding: 5px;
}

/*code for projects.html*/

.box {
  width: 500px;
  height: 450px;
  padding: 40px;
  text-align: center;
  margin-top: 5%;
  margin-left: 34%;
  color: #CA6F1E;
  font-family: Verdana, sans-serif;
  background-color: #dcd9d7;
  border-radius: 50%;
}

.bc {
  background-color: #c5c5ac9c;
}

.box h3 {
  margin-top: 14%;
}